!!! html5
%html
  %head
    %title Test hamla
  %body
    %h1 Test HAMLA na hubpages
    %h2 Czy na hubpages kompilują hamla?
    %p Na pewno na hubpages kompilują markdown, ale ciekawy jestem czy działa to z hamlem?

